page-page2 {

	.lesson{

		font-family: cursive;
	}

	.item-md{
			color: #ffffff;
    background-color: rgba(49, 49, 49, 0.43);

	}

	.body{
			background-image:url('../../img/l.jpg');
    		color: white;
	}

	h3{
	margin-bottom: 44px;
	}

}
