page-page1 {


	.led-box {
  height: 30px;
  width: 25%;
 
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}


.led-green {
   
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
}



	.head{
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 18px;
		font-family: initial;
		color: rgb(79, 74, 74);

	}

	.content{
		color: black;
		text-align:justify;
		
	}
	.stars{
		font-size: x-large;
		color: rgb(255, 255, 76);
	}

	.body{
	 
		
	 	

	}

	.card{
		background-color:ghostwhite;
	}
	.card-title-md {
			    color: black;
			    text-align:left;
			    padding: 5px;
    			background-color: #ceddf7;
    			font-family: century gothic;
	}
	.card-content-md{

		background-color: aliceblue;
	}
}




