page-home {

	.bodyColor{

		background-image:url('../../img/bg4.jpg');
		
	}

	

	p{
		color:white;
		font-size:17px;
	}

	 img {
    height: 30%;
    Width: 49%;
    margin: 0px auto;
    margin-left: 82px;
    padding: 15px;
    background-color: rgba(253, 249, 249, 0.7);
    margin-top: 43px;
}

	



}
