page-lessonsec {

	  .pad{

    	background-image:url('../../img/backg.png');
    }

    .body{
		text-align:justify;
	}

	.item {
    contain: content;
    height: 90px;
    margin-bottom: 8px;
    }

    .indent{
           padding-top: 25px;
    }

}
