page-bal {

	

	 .pad{

    	background-image:url('../../img/forest1.png');
    }

    .contents{
    	
		font-size: 18px;
		padding-bottom: 11px;
		font-family: century gothic;
		text-align: justify;
		padding:10px;
    }

}
