page-quizm1 {

		.content-md{
		background-image:url('../../img/bg.jpg');
	}


	p{
		background-color: #27bbbb;
    margin-left: -16px;
    margin-right: -16px;
    padding: 12px;
    font-size: 17px;
    text-align: center;
    color: white;
    font-family: century gothic;
	}
.padding{
	margin-top: -18px;
   background-color: #00e2e1;
	}

	b{
	font-size: 13px;
	}
}
