page-illus1 {

	 .pad{

        background-image:url('../../img/forest1.png');
    }


    	p{
    	font-size: 18px;
	    font-family: century gothic;
	    text-align: justify;
    	}

    	.card-md p {
   
    font-size: 18px;
    }

}
