<!--
  Generated template for the Bal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Law of Acceleration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="pad">
  <ion-card>
  
    <img src="img/accel.jpg">

  
    <ion-card-title style="margin-left: 15px;">Law of Acceleration</ion-card-title>


     <ion-card >
         
          <p class="contents">

        “The acceleration of an object is directly proportional to the magnitude of the
net force acting on it and is inversely proportional to its mass.”

          </p>
      
          <button ion-button outline (click)="presentToast()">1</button>
          <button ion-button outline (click)="presentToast1()">2</button>

          
 
         </ion-card>

          <ion-fab right bottom style="position: fixed;">
          <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="arrow-up"></ion-icon></button>
            
        </ion-fab>
  
<!-- 
     <ion-list >
      <ion-item class="item animated slideInLeft">
        <ion-icon name="book" item-left>
        </ion-icon>

      
         <h2>Unbalanced Force</h2>
        <button  ion-button  (click)="prof()" clear item-right class="view">{{showuser ? "Hide" : "View"}}</button>
      </ion-item>
    </ion-list>

    <div *ngIf="showuser">
        <ion-list>
         <ion-card >
         
          <p class="contents">Balance forces are two 
          forces acting in opposite
           directions on an object,
            and equal in size.
            Anytime there is a
             balanced force on 
             an object, the object 
             stays still or continues
              moving continues to move
               at the same speed and
               in the same direction. 
               It is important to note 
               that an object can be in 
               motion even if there are
                no forces acting on it. 
             </p>
      

         </ion-card>
        </ion-list>
     </div>  

      <ion-list>
      <ion-item style="-webkit-animation-duration:2s;" class="item animated slideInLeft">
        <ion-icon name="book" item-left>
        </ion-icon>
         <h2>Balanced Force</h2>
        <button  ion-button  (click)="prof1()" clear item-right class="view">{{showuser1 ? "Hide" : "View"}}</button>
      </ion-item>
    </ion-list>

      <div *ngIf="showuser1">
        <ion-list>
          <ion-card>
            <p class="contents">
            Any push or pull is a force. To describe a force, you must know two things. You must know the size of the force and the direction of the force. Suppose two teams are playing tug of war. Each team is pulling with equal force, but in opposite directions. Neither team can make the other team move. Forces that are equal in size but opposite in direction are called balanced forces.

              </p>
            </ion-card> 
        </ion-list>
     </div> 
     -->


</ion-card>


  
</ion-content>
