page-subpart {

	.content{
		text-align: justify;
		padding:15px;
		font-size: 18px;
		padding-bottom: 11px;
		font-family: century gothic;
	}

	.button-md{
		margin-left:15px;
	}

	 .pad{

    	background-image:url('../../img/forest1.png');
    }

    .card-title-md {
    display: block;
    margin: 2px 0 2px;
    padding: 8px 0 8px 0;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #222;
    padding-left: 15px;
}
	
}
