page-identify {

		.time{

		padding-right: 10px;
		padding-left: 10px;
		padding-bottom:10px;
	    background-color: gray;
	    text-align: center;
	    margin-left: -16px;
	    margin-right: -16px;
	    font-size: 32px;
	    margin-top: -15px;
	}

	.content-md {
		background-image:url('../../img/bg.jpg');
		
	}
}
