page-page3 {

	.lesson{

		font-family: cursive;
	}

		.item-md{
			color: #dbdbe2;
		   background-color: rgba(34, 34, 34, 0.81);
	}

	.body{
			background-image:url('../../img/galaxy.jpg');
    		color: white;
	}

}
