page-less21 {

	.contents{
    	
		font-size: 18px;
		padding-bottom: 11px;
		font-family: century gothic;
		text-align: justify;
		padding:10px;
    }

    .toast-md .toast-message {
    padding: 19px 16px 17px;
    font-size: 1.5rem;
    color: #fff;
    text-align: justify;
}

	.toast-message {
   
    text-align: justify;
}

	 .pad{

    	background-image:url('../../img/forest1.png');
    }

}
